.dpadWrapper {
    height: 9em;
}

.dp {
    padding: 0;
    margin: 0;
    width: 3em;
    height: 3em;
    position: absolute;
}


.center {
    z-index: 2;
    top: 3em;
}

.center-circle {
    position: static;
    /*   background: #222532; */
    background: #777;
    /*   background: #90E4FF; */
/*   background: #7FFFB5; */
border-radius: 100%;
margin: auto;
width: 75%;
height: 75%;
z-index: 3;
}

.up,
.right,
.down,
.left,
.center {
    display: flex;
    background: rgb(38, 38, 38);
    padding: 12px;
    border: 1px solid #222;
    border-radius: 5px;
    /*   background: #51D6FF; */
    /*   background: #37FF8B; */
}

.right {
  top: 3em;
  left: 3em;
}

.left {
  top: 3em;
  right: 3em;
}

.down {
  top: 6em;
}

.up-triangle {
  position: absolute;
  bottom: 16px;
  right: 8px;
  margin: auto;
  width: 65%;
  height: 65%;
  border-left: solid 15px transparent; 
  border-right: solid 15px transparent; 
  border-bottom: solid 20px #777; 
}

.right-triangle {
  position: absolute;
  bottom: 8px;
  right: 0px;
  margin: auto;
  width: 65%;
  height: 65%;
  border-left: solid 15px transparent; 
  border-right: solid 15px transparent; 
  border-bottom: solid 20px #777;
  transform: rotate(90deg);
}

.down-triangle {
  position: absolute;
  bottom: 0px;
  right: 8px;
  margin: auto;
  width: 65%;
  height: 65%;
  border-left: solid 15px transparent; 
  border-right: solid 15px transparent; 
  border-bottom: solid 20px #777;
  transform: rotate(180deg);
}

.left-triangle {
  position: absolute;
  bottom: 8px;
  left: 1px;
  margin: auto;
  width: 65%;
  height: 65%;
  border-left: solid 15px transparent; 
  border-right: solid 15px transparent; 
  border-bottom: solid 20px #777;
  transform: rotate(-90deg);
}